
<!DOCTYPE html>
<html lang="en">
<head>
  <title>404</title>
  <link rel="stylesheet" type="text/css" 
        href="style.css" />
</head> 
  <body>
    <div class="container">
        <h1>404</h1><br/>
        <h3>you broke my website...</h3>
    </div>
    
    <br/><br/><br/>
    <%if(user == ""){ %>
      no user.
    <% }else{ %>
      user= <%= user %>.
    <% } %>

    <br/><br/><br/>
    <center>
    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: <%= loc.lat %>, lng: <%= loc.lng %>};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
        src=<%= "https://maps.googleapis.com/maps/api/js?key="+apiKey+"&callback=initMap" %> >
    </script>
    </center>
    <br/><br/><br/>
  </body>
</html>