body {
  margin: 0; 
  padding: 0; 
  background-color: lightgrey;
}

.container {
  height: 90%; 
  width: 90%;
  background-color: lightgrey;
  float: auto;
  display: block;
  margin: auto;
}

#map {
  height: 700px;
  width: 700px;
}