body {
  margin: 0; 
  padding: 0; 
  margin-top: 200px;
  background-color: lightgrey;
}

.container {
  height: 80px; width: 270px;
  background-color: lightblue;
  float: auto;
  display: block;
  margin: auto;
  padding: 20px;
  padding-left: 40px;
  border: 1px solid grey;
  border-radius: 5px;
  font-family: Arial;
}

h1 {
  margin-bottom: -15px; 
  margin-top: -5px;
}

#map {
  height: 400px;
  width: 80%;
}