body {
  margin: 0; 
  padding: 0; 
  background-color: lightgrey;
}

.container {
  height: 90%; 
  width: 90%;
  background-color: lightgrey;
  float: auto;
  display: block;
  margin: auto;
}

#map {
  height: 700px;
  width: 700px;
}

.testTable tr:nth-child(even) {
  background-color: #f2f2f2
}

.testTable td {
  padding-left: 5px;
  padding-right: 5px;
}
  
.testTable {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}